@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900;
  }

  /* Amélioration de la typographie */
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md transition-all duration-300;
  }
  
  .btn-primary {
    @apply bg-gray-900 text-white hover:bg-gray-800;
  }
}

@layer utilities {
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 1.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .animate-slide-up {
    animation: slide-up 1.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
}